* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  min-width: 1200px;
  background-color: #000;
  color: #fff;
}

.if {
  text-align: left;
}

header > .container > .icon {
  display: flex;
}
header > .container > .icon > li {
  padding: 0 20px;
}
header > .container {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.menu {
  display: flex;
}
.menu > li {
  padding: 20px;
}

.menu > li:nth-child(1) a {
  border-bottom: 1px solid red;
}

.ph1 {
  margin-bottom: 50px;

  background-color: orange;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid white;
  color: white;
  font-size: 25px;
  margin-right: 50px;
}

.ph2 {
  margin-top: 100px;
  margin-left: 90px;
  background-color: orange;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid white;
  color: white;
  font-size: 25px;
}

.front {
  text-align: center;
  width: 1200px;
  height: 100%;
  height: 500px;
  position: relative;

  overflow: hidden;
  margin: 0 auto;
}

.line1 {
  margin-right: 30px;
}
.line1 {
  height: 100%;
}

.exp {
  text-align: center;
  width: 1200px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.exp > h1 {
  margin-top: 100px;
}

.exp1 {
  width: 520px;
  height: 520px;
  height: 100%;
  background: url(/img/truck1.png);
  margin-top: 40px;
}

.front > .post {
  position: absolute;
  top: 40%;
  left: 30%;
}

.phone {
  width: 1200px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}

.phone > .lineGroup {
  width: 100%;
  display: flex;
  align-items: center;
}
.phone > .lineGroup > .line2 {
  margin-top: 80px;
  font-size: 25px;
  margin-left: 50px;
}

.exp2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  word-break: keep-all;
 
}

.exp2 > .logo {
  text-align: center;
  width: 525px;

  text-align: center;
  justify-content: space-evenly;
}
.exp2 > .logo > ul {
  display: flex;
  background-color: skyblue;
  align-content: center;
  align-items: center;
}

.exp2 > .logo > ul {
  width: 525px;
  height: 245px;
  margin: 1px;
  left: 30px;
}

.exp2 > .logo > ul > li {
  margin: 10px;
}

.exp2 > .logo > .picture {
  width: 600px;
}

.service {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.service > h1 {
  padding: 60px;
}

.service > .bt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 25px;
}

.service > .bt p {
  word-break: keep-all;
}

.bt > li {
  width: 400px;
  margin-top: 20px;
}

.bt > li > a {
  font-size: 70px;
}

.phone2 {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.phone2 > .bu {
  padding: 20px;
  border: 1px solid white;
}

.phone2 > .bu > button {
  background-color: orange;
  border: #fff;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  height: 50px;
  width: 380px;
}

.charge {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.charge > h2 {
  padding: 30px;
  font-size: 40px;
}

.charge > .tag {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: 18px;
}

.charge > .tag :nth-child(2) {
  margin-right: 400px;
}

form {
  width: 1200px;
  display: flex;
  justify-content: center;
}

table td {
  width: 109px;
}

.c-end {
  width: 1200px;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  background: linear-gradient(180deg, white, gold);
  height: 40px;
}

.c-end > a {
  border-bottom: 2px solid black;
}

.phone3 {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  background: linear-gradient(180deg, white 1%, darkblue);
  height: 300px;
  position: relative;
}

.phone3 > .container3 > div > p {
  color: red;
}

.phone3 > .container3 {
  position: absolute;
  top: 50px;
  left: 220px;
}

.container3 > .jon {
  line-height: 100px;
  font-size: 40px;
  color: #fff;
}

.phone3 > .container3 > .bu2 > button {
  background-color: orange;
  border: #fff;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  height: 50px;
  width: 380px;
}

.phone3 > .bu2 > :nth-child(1) {
  background-color: gold;
}

.info {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 500px;
}

.info > div > h2 {
  display: block;
  margin: 50px;
  margin-top: 100px;
}

.info > .pict > .pict2 {
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
}

.info > .pict > .pict2 > li {
  width: 300px;
  height: 300px;
  outline: 1px solid black;
  margin: 40px;
}

.info > .pict > .pict2 > li > a > img {
  width: 300px;
  height: 300px;
}

.mail {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 1140px;
  box-sizing: border-box;
}

.mail > div > h2 {
  margin: 200px;
  text-align: center;
  font-size: 40px;
}

.mail > .message > .inquiry {
  display: flex;
  flex-wrap: wrap;
}

.mail > .message > .inquiry > li {
  width: 600px;
}

.mail > .message > .inquiry > li > a > img {
  width: 600px;
}

.notice {
  padding-top: 40px;
  text-align: start;
  background-color: rgb(166, 220, 241);
  box-sizing: border-box;
}
.notice > input {
  width: 600px;
  text-indent: 1%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.notice > .matter {
  height: 200px;
  text-align: start;
  justify-content: start;
  align-items: start;
  width: 600px;
  padding-top: 10px;
}

.notice > .send > button {
  display: block;
  height: 50px;
  width: 600px;
  background-color: orange;
  border-radius: 5px;
  border: none;
}

.inquiry > .maillexp {
  background-color: rgb(166, 220, 241);
  text-align: center;
  align-content: center;
  box-sizing: border-box;
}

.inquiry > .maillexp > div {
  margin-top: 50px;
  padding: 0px;
  font-size: 20px;
}

footer {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 40px;
  align-content: center;
  height: 400px;
}

footer > i {
  font-size: 60px;

  margin: 30px;
}

footer > div {
  font-size: 30px;

  color: rgba(146, 137, 137, 0.911);
  margin-top: 50px;
}

/*화면작업*/
.container .toglebtn {
  display: none;
}
.container .toglebtn:hover {
  color: aqua;
}

/*미디어쿼리*/

@media screen and (max-width: 950px) {
  .container .menu {
    display:none;
    flex-direction: column;
    height: 440px;
    width: 100%;
    position: absolute;
    align-content: flex-end;
    justify-content: space-around;
    left: 0%;
    top:8%;
    z-index: 20;
    background-color:#000;
  }
  header .container .icon {
    display:none;
    flex-direction: column;
    height: 400px;
    width: 100%;
    position: absolute;
    align-content: flex-end;
    justify-content: space-around;
    left: 0%;
    top:60%;
    z-index: 24;
    background-color:#000;
  }
  .container .logo {
    display: none;
  }
  .container .toglebtn {
    display: block;
    position: absolute;
    left: 50%;
    font-size: 40px;
  }
  .menu.active,
  header .container .icon.active{
    display: block;
    display:flex;
    
  }

  .lineGroup {flex-direction: column;
    width: 90vh;;}
  .exp2 {flex-direction: column;
  width: 90vh;}

