* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.start {
  height:903px;

}
.re {
  width: 100%;
  height: 100%;
  
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 30px;
  z-index: 999;
  transition: top 0.3s;
}

.menu > .bn1,
.bn2,
.bn3,
.bn4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

.menu > .bn1,
.bn4 {
  margin: 40px;
}



.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon > span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
}

.menu-icon.active span:nth-child(2) {
  transform: rotate(-45deg);
  position: relative;
  top: -15px;
}

.hide {
  z-index: -20;
  position: relative;
  top: 150px;
  background-color: black;
  color: white;
  display: flex;
  gap: 116.7px;
  border-top: 1px solid white;
  font-size: 25px;
  height: 100%;
  
}


.hide > ul {
margin-top: 20px;
z-index: -20;

}


.hide > ul >li {
padding:20px;
}
  




.hide ul:nth-child(1) {
  margin-left: 360px;
}

.hide.active {
  z-index: 1;
  transition: 0s;
}

.canvas {
  position: relative;
}

.canvas > .videos {
  width: 100%;
  height: 100%;
  z-index: -5;
  position: absolute;
  top:-165px
}

.word {
  position: absolute;
  top: 60%;
  left: 5%;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 3.5px black;
  animation: fadeInout 5s infinite;
}

@keyframes fadeInout {
  0% {
    opacity: 0;
    transform:translateX(-100px);
  }

  50% {
    opacity: 1;
    transform:translateX(0px);
  }
  100% {
    opacity: 0;
  }
}


.second_page {
  position:static;
  background-color: black;
  color: white;
  width: 100%;
  height: 900px;
}

.second_page > .titles {
margin-left: 40px;
margin-top: 70px;
margin-bottom: 70px;
height: 100%;
}

.second_page > .titles > h1{
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: -1px;
  }


  .slideshow {
    width: 100%;
    height: 300px;
    margin: 150px auto 0;
    position: relative;
  }
  /*버튼*/
  .left-btn,
  .right-btn {
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: calc(80% - 25px);
    padding: 0;
  }
  .right-btn {
    right: 200px;
  }
  .left-btn
{
  left: 200px;
}

  /*콘텐츠*/
  .content {
    width: 900px;
    height: 180px;
    perspective: 950px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 450px);
  }

  .content-carrousel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
  }
  .content-carrousel > figure {
    width: 150px;
    height: 150px;
    border: 1px solid #4d444d;
    box-shadow: 0 0 20px #000;
    position: absolute;
    left: calc(50% - 75px);
  }
  .content-carrousel > figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(400px);
  }
  .content-carrousel > figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(400px);
  }

  .content-carrousel img {
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
  }
  .content-carrousel img:hover {
    scale: 1.1;
  }

  .third_page {height: 100%;
background-color: #000;
color: white;
position: relative;
z-index: 9;
width: 100%;
height: 400px;
  }

  .third_page > .num_log {
    width: 100%;
    height:150px;
    margin-left: 35px;
  }

  .third_page > section {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;

  }

  
  .third_page > section  > .numbers > .num {
    display: flex;
  }



  .third_page > section  > .numbers {
    border-left: 1p solid white;
    border-right: 1px solid white;
    height: 600px;
  }

  .third_page > section > .numbers > .mum  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
}


.third_page > section > .numbers > .mum > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 80px;
  
}


.third_page > section > .numbers > .mum > div:nth-child(2) {
 text-align: start;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
}


.third_page > section > .numbers > .mum2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.third_page > section > .numbers > .mum3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}







  /*미디어 쿼리부분*/

 