* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}


.menu_pic {
  background-image: url("./img/int4.png");
  background-repeat: no-repeat;
  background-image: cover;
  background-position:center;
  width: 100%;
  height: 1100px;
  opacity: 110%;
}
.title_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between
}
.title_menu > .logo {
  margin-left: 100px;
}
.title_menu > .logo > div > i {
  font-size: 80px;

}


.title_menu > .mode > ul {
  display: flex;
  font-size: 30px;
  color: aliceblue;
}

.title_menu > .mode > ul > li {
  margin: 30px;
}

.title_menu > .toggleline {
  font-size: 80px;
  margin-right: 100px;
}

.t_intro {
  margin-top: 260px;
  justify-content: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.t_intro > section > h1 {
  font-size: 90px;
  font-weight: bold;
  margin-right: 400px;
  color: blueviolet;
}


.t_intro > section > p {
  font-size: 25px;
  margin-right: 400px;
  font-weight : 100px;
  color: white;
}
.intro > div {
 justify-content: center;
 display: flex;
 
}


.intro > .int {
  display: flex;
}
.intro > .int > .inin {
  margin-top: 80px;
  font-size: 25px;
  font-weight: bold;
}

.inin > :nth-child(1) {
  color:blueviolet;
  font-size: 30px;
  font-weight: bold;
}

.intro > .int > section  > button {
  display: inline-block;
  margin-top : 110px;
  margin-left : 50px;
  font-size: 25px;
  width: 175px;
  height: 50px;
  background-color: aliceblue;
  border: 1px solid black;
}

.tro {
  display: flex;
  text-align: center;
  margin-top: 100px;
  font-size: 30PX;
  font-weight: bold;
}
.tro > .in > li {
  margin-bottom: 70px;
}
.tro > .in2 > li > img{
   height: 284px;
}

.tro > .in2 > li {
  margin-bottom: 70px;
}


.tro > div > .line {
  height: 100%;
  width: 100%;
  border-left: 1px solid black;
  margin-left: 90px;
  margin-right: 90px;
}

.intro2 {
  background: url(./img/scientist-examining-sample-stockcake\ 1.png);
  background-repeat: no-repeat;
  
  text-align: center;

  height: 2600px;
  width: 100%;
margin-top: 400px;
background-position: center;
}

.intro2 > :nth-child(1){
  margin-top: 500px;
  display: flex;
  justify-content: center;
}
.intro2 >div > .head {
  margin-top: 800px;
  text-align: start;
}


.intro2 >div > .head > h1 {
  color: blueviolet; 
  list-style: none;
}

 .intro2 >div > .head > p {
  font-size: 32px;
  color: aliceblue;
  margin : 20px 0px;
  font-weight: bold;
}

.intro2 >div > .head > button 
{ text-align: start;
  padding: 5px;
  margin-top : 5px;
  font-size: 25px;
  width: 100px;
  height: 50px;
  background-color: aliceblue;
  border: 1px solid black;
}




.intro2 >div > .cards {
  margin-top: 300px;
}

.intro2 >div > .cards2 {
  margin-top: 500px;
}

.intro2 >div > .cards > .card {
  justify-content: flex-start;
  text-align: start;
  margin: 200px 30px;
}


.intro2 >div > .cards > .card {
  border-radius: 20px;
  border: 1px solid transparent;
  width: 310px;
  height: 500px;
  backdrop-filter: blur(30px);
  text-align: start;
}


.intro2 >div > .cards > .card > li {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.intro2 >div > .cards > .card > :nth-child(1)
{
  display: flex;
 margin: 20px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.intro2 >div > .cards > .card > :nth-child(2)
{
 font-size: 15px;
}

.intro2 >div > .cards > .card > :nth-child(5) > button
{ background-color: transparent;
  font-size: 20px;
  border:none;
}


.intro2 >div > .cards2 > .card {
  justify-content: flex-start;
  text-align: start;
  margin: 200px 30px;
}


.intro2 >div > .cards2 > .card {
  border-radius: 20px;
  border: 1px solid transparent;
  width: 310px;
  height: 500px;
  backdrop-filter: blur(30px);
  text-align: start;
}


.intro2 >div > .cards2 > .card > li {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.intro2 >div > .cards2 > .card > :nth-child(1)
{
  display: flex;
 margin: 20px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.intro2 >div > .cards2 > .card > :nth-child(2)
{
 font-size: 15px;
}

.intro2 >div > .cards2 > .card > :nth-child(5) > button
{ background-color: transparent;
  font-size: 20px;
  border:none;
}



.container > .main >  .product{
  text-align: start;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container > .main >  .product > div > p
{ font-size: 25px;
  color: blueviolet;
  font-weight: bold;
}



.container > .main >  .product > button
{ background-color: transparent;
  font-size: 20px;
  border:1px solid black;
  margin-top: 70px;
  margin-left: 50px;
  height: 40px;
  text-align: center;
  width: 90px;
}

.p_lntro2 {
  font-size: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 120px;
  height: 100%;
  width: 100%;
  background: url(./img/lake-6701636_1920\ 1\ \(1\).png);
  background-image: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1128px;
  backdrop-filter: blur(15px);
}





.p_lntro2 > ul {
  width: 376px;
  text-align: center;
  align-content: center;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 20px;
  background;
  margin: 0;
  color: aliceblue;
}






